<div id='builder' ng-controller="BuilderController">
<div id='creationStation'>
  <button id='addDialogue' ng-click='addDialogue()'>Add Dialogue</button>
  <button id='addChoice' ng-click='addChoice()'>Add Choice</button>
  <div id='actorList'>Edit Actor List:<input ng-model='actorListInput' type='text' />
    <button id='updateActorsList' ng-click='updateActorList(actorListInput)'>Update</button>
  </div>
</div>

<div class="row-fluid">
   <div class="span3">

     	<div class="well dialogue" ng-hide='toHide("Dialogue")'>
     			<h3>Dialogue</h3>
     			<form name="dialogForm" ng-submit="updateDialogue()">

    				<p>
     				<label>Actor:</label>
     				<select ng-model='dialogue.actor' ng-options="actor.id as actor.name for actor in actors"></select>
    				</p>

    				<p>
     				<label>Conversant:</label>
				<select ng-model="dialogue.conversant" ng-options="actor.id as actor.name for actor in actors"></select>
    				</p>

    				<p>
     				<label>Menu text:</label>
    					<input ng-model="dialogue.menuText" type="text" placeholder="Menu text">
    				</p>

    				<p>
     				<label>Dialogue text:</label>
    					<input ng-model="dialogue.dialogueText" type="text" placeholder="Dialogue text" required>
    				</p>

    				<p>
     				<label title='Example: this.onlyOnce==true'>Conditions String</label>
    					<input ng-model="dialogue.conditionsString" type="text" placeholder="Conditions String">
    				</p>

    				<p>
     				<label title='Example: this.onlyOnce==true'>Code before</label>
    					<input ng-model="dialogue.codeBefore" type="text" placeholder="Code before">
    				</p>

    				<p>
     				<label title='Example: this.onlyOnce=false'>Code after</label>
    					<input ng-model="dialogue.codeAfter" type="text" placeholder="Code after">
    				</p>
     				<label title=''>Outgoing Links</label>
    					<input ng-model="dialogue.outgoingLinks" type="text" placeholder="Outgoing Links">
    				</p>
    				<p>
    					<button class="btn btn-block btn-success" type="submit">Update Dialog</button>
    				</p>
    				</form>

     		</div>

     		<div class="well choice" ng-hide='toHide("Choice")'>
     			<h3>Choice</h3>
     			<form name="choiceForm" ng-submit="updateChoice()">
     				<p>
      				<label>Conditions String</label>
     					<input ng-model="choice.conditionsString" type="text" placeholder="Conditions String">
     					<span class="help-block">Example: player.has("amulet")</span>
     				</p>

     				<p>
      				<label>Code before</label>
     					<input ng-model="choice.codeBefore" type="text" placeholder="Code before">
     				</p>

     				<p>
      				<label>Code after</label>
     					<input ng-model="choice.codeAfter" type="text" placeholder="Code after">
     				</p>

     				<p>
     					<button class="btn btn-block btn-success" type="submit">Update Choice</button>
     				</p>
     			</form>

     		</div> <!-- class="choice" -->

   </div> <!-- class="span3" -->

   <div class="span9">

    <div class="well diagram">
    	 <h4>Diagram</h4>
    	 <div id="paperWrapper">
    	   <div id="paper" class='dragscroll' ></div>
    	 </div>
    	 {{initDiagram()}}
    </div> <!-- class="diagrams"  -->

   </div> <!-- class="span9" -->
 </div> <!-- class="row"  -->
</div>